<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigureAwait.Fody" version="3.0.0" targetFramework="net471" />
  <package id="ControlzEx" version="4.0.0-alpha0222" targetFramework="net471" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net471" />
  <package id="Dropbox.Api" version="4.9.3" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Fody" version="3.3.5" targetFramework="net471" developmentDependency="true" />
  <package id="Janitor.Fody" version="1.6.5" targetFramework="net471" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net471" />
  <package id="MahApps.Metro" version="2.0.0-alpha0212" targetFramework="net471" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net471" />
  <package id="NHotkey" version="1.2.1" targetFramework="net471" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net471" />
  <package id="NullGuard.Fody" version="1.8.5" targetFramework="net471" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net471" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net471" />
</packages>